:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 7%);
  --light-gray: hsl(0, 0%, 42%);
  --regular: 500;
  --bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Figtree;
  font-weight: var(--regular);
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

main {
  background-color: var(--white);
  margin: 0 auto;
  width: 80%;
  min-height: 29.375rem;
  max-width: 21.875rem;
  max-height: 31.25rem;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  border-top: 1px black;
  box-shadow: 6px 6px 1px 1px black;
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.chip {
  background-color: var(--yellow);
  font-weight: var(--bold);
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
}

.date {
  color: var(--gray);
  font-size: .8rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description>h1 {
  font-size: 1.5rem;
  font-weight: var(--bold);
}

.description>h1:hover {
  cursor: pointer;
  color: var(--yellow);
}

.description>p {
  color: var(--light-gray);
  line-height: 1.5;
}

.avatar {
  flex-shrink: 6;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.avatar>img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.avatar>p {
  font-size: .8rem;
  font-weight: var(--bold);
}
